*.pyc
*regan*
.idea
__pycache__/
*.out
*.zip
.github/
.devcontainer/
gan/configs/*
!gan/configs/Set_Exemple
*run*
*.pth
*.code-workspace
/restyle-encoder/*
*plotter/
*.sif
.vscode/
/test_*.py
*.log
init_*.sh
!init_inversion.sh
!init_training.sh
!init_perturbation.sh
!init_scaling_perturbation.sh
!init_training_temporal.sh
inversion/PerceptualSimilarity
test_
gan/model/2d_stylegan2-ada_nvidia.py
gan/model/3d_stylegan2-ada_nvidia.py
gan/model/mocogan.py
gan/model/ops
gan/model/ops_3d
gan/model/op_3d
gan/model/stylegan2_3d_kernel.py
gan/model/stylegan2_t_conditionned.py
